*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    position: relative;
    width: 100vw;
    height: 100vh;
}
form{
    width:250px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input, textarea{
    width: 100%;
}
div.naslov{
    width: 100%;
    height: 30px;
    position: relative;
}
form h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
form input#submit{
    width: 100%;
    height: 25px;
    background-color: aquamarine;
    border: none;
    color: white;
    font-size: 11px;
}
textarea{
    height: 45px;
    margin: 15px 0 5px 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 11px;
    color: grey;
}
input{
    height: 30px;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 11px;
    color: grey;
}
div.inputs{
    background: url("denim-1866725__340.jpg") no-repeat center ;
    background-size: cover;
}
