#table_1 tr:nth-child(3){
    background-color: yellow;
}
table{
    font-style: normal;
}
th{
    text-align: left;
}
#table_2 td:nth-of-type(3),#table_2 th:nth-of-type(3){
    background-color: yellow;
}
#table_1{
    margin-bottom: 25px;
}
#table_1 tr:nth-child(odd){
    font-style: italic;
}
#table_2 tr:nth-child(even):hover{
    color: yellow;
}
#table_2 tr:nth-child(even):hover a{
    color: yellow;
}
#table_2 tr:nth-child(3n){
    color: blue;
}
/* #table_2 tr:nth-child(even) a:hover{
    color: yellow;
} */
