*{
    margin: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    overflow: hidden;
}
[class*="col_"]{/*Sve klase koje pocinju sa col_ daj mu ovu osobinu*/
    float: left;
    width: 100%;
}
@media only screen and (min-width:1000px){/*za ekrane vece od 1000px*/
    .col_1{/*Bitno je da klasa klase elemenata elementa clase row imaju zbir 12*/
        width: calc(100%/12);
    }
    .col_2{
        width: calc(100%/12*2);
    }
    .col_3{
        width: calc(100%/12*3);
    }
    .col_4{
        width: calc(100%/12*4);
    }
    .col_5{
        width: calc(100%/12*5);
    }
    .col_6{
        width: calc(100%/12*6);
    }
    .col_7{
        width: calc(100%/12*7);
    }
    .col_8{
        width: calc(100%/12*8);
    }
    .col_9{
        width: calc(100%/12*9);
    }
    .col_10{
        width: calc(100%/12*10);
    }
    .col_11{
        width: calc(100%/12*11);
    }
    .col_12{
        width: calc(100%/12*12);
    
    }
   
    
   

}
@media only screen and (min-width:700px){
    .col_t_1{/*primenjuj ovo do 700px*/
        width: calc(100%/12);
    }
    .col_t_2{
        width: calc(100%/12*2);
    }
    .col_t_3{
        width: calc(100%/12*3);
    }
    .col_t_4{
        width: calc(100%/12*4);
    }
    .col_t_5{
        width: calc(100%/12*5);
    }
    .col_t_6{
        width: calc(100%/12*6);
    }
    .col_t_7{
        width: calc(100%/12*7);
    }
    .col_t_8{
        width: calc(100%/12*8);
    }
    .col_t_9{
        width: calc(100%/12*9);
    }
    .col_t_10{
        width: calc(100%/12*10);
    }
    .col_t_11{
        width: calc(100%/12*11);
    }
    .col_t_12{
        width: calc(100%/12*12);
    
    }
    
}
header, footer{
    background-color: aqua;
    text-align: center;
    font-weight: bolder;
}
div.meni{
    height: 160px;
}
div a{
    display: block;
    background-color: darkcyan ;
    width: 100%;
    height: 33.3%;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
    padding: 17px 0 0 15px;
}
div a:hover{
    cursor: pointer;
    background-color: aqua;
    color: darkcyan;


}
.linear_color{
    background: linear-gradient(darkcyan,rgb(194, 255, 255));
}
header, footer{
    padding: 10px 0 10px 0;
}
div.opis div{
    padding: 20px 10px 20px 10px;
    border-left:1px solid darkcyan;
}
div.gornji_opis{
    padding: 25px 0 0 25px;
}
div.gornji_opis p{
    margin-bottom: 25px;
    font-size: 18px;
}
@media only screen and (max-width:700px){
    img.no_phone{
        display: none;
    }
    div.opis h3,div.opis p.no_mobile{
        display: none;
    }
    h1{
        font-size: 1.4em;
    }
    a{
        font-size: 1.5em;
        text-align: center;
        padding: 0;

    }
    details{
        font-size: 2.5em;
        text-align: center;    
    }
    details p{
        font-size: 1.3em;

    }
    .gornji_opis p{
        font-size: 1.3em;

    }
    img{
        width: 100vw;
    }
    p{
       font-size: 1.5rem;
    }
}
@media only screen and (min-width:700px){
    img.phone{
        display: none;
    }
    div.opis details{
        display: none;
    }  
}
