*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    position: fixed;
    top: 0;/*Kad ga iscupamo on vise nema celu svoju sirinu vec samo koliko mu treba za sadrzaj*/
    left: 50px;
    right: 50px;
    z-index: 1;
    
}
.topbar ul{
    overflow: hidden;
    list-style-type: none;
}
.topbar ul li{
    float: left;
    width: 25%;
    border: 1px solid aquamarine;
    background-color: brown;
    text-align: center;
    /*a je inline element za njega ne vazi pading margin width height*/
}
.topbar ul li a{
    color: white;
    text-decoration: none;
    display: block;/*Bitno!!! ovako postizemo da celo polje u meniju bude klikljivo*/
    padding: 5px 0 5px 0;

}
.topbar ul li a:hover{
    background-color: chocolate;
    
}
.red{
    position: relative;/*u odnosu na svoju poziciju kako ga brouser prikaze*/
    top:50px;
    overflow: hidden;
}
.red aside{
    float: left;
    width: 30%;
    

}
.red aside ul{
    list-style-type: none;
}
.red aside ul li{
    border: 1px solid aquamarine;
    background-color: darkgoldenrod;
    text-align: center;
}
.red aside ul li a{
    color: white;
    text-decoration: none;
    display: block;/*Bitno!!! ovako postizemo da celo polje u meniju bude klikljivo*/
    padding: 5px 0 5px 0;
}
.red section{
    float: left;
    width: 70%;
    background-color: bisque;
    padding: 20px;
    text-align: center;
}
.red aside ul li a:hover{
    background-color: darksalmon;
}
.dropdown{
    display: none;
}
.topbar li:nth-child(4):hover .dropdown{
    display: block;
}